.Modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(200, 200, 200, 0.313);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menssage{
    display: flex;
    background-color: rgb(201, 158, 150);
    justify-content: center;
    padding-top: 10px;
    border-radius: 5px;
}
.ModalContaine {
    width: 800px;
    height: 300px;
    border-radius: 12px;
    background-color: rgb(234, 233, 243);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.pagamentoP{
    display: flex;
    justify-content: center;
}