.Modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(200, 200, 200, 0.313);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ModalContainer {
    width: 800px;
    height: 500px;
    border-radius: 12px;
    background-color: rgb(234, 233, 243);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.usuarioSelecionado{
    display: flex;
    text-align: center;
    justify-content: center;
    color: teal;
    padding-left: 5px;

}
.pagamentoP{
    /* display: -webkit-box; */
    flex-direction: row;
    background-color: #474a6e;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;  
    color: #fff;
    
    display: flex;
}
.valor{
    display: flex;
    flex-direction: column;
    padding: 10px; 
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border:solid 1px;
}
.CloseButton {
    border: solid 1px;
    background-color: transparent;
    font-size: 13px;
    color: brown;

    width: 52px;
    margin: 5px auto;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.button {
    cursor: pointer;
    color: rgb(6, 74, 52);
}
.ButtonDiv {
    width: 60px;
    margin: 0 auto;
    margin-top: 10px;
   
   
}
.NumeroCartao{
    display: flex;
    flex-direction: column;
    padding: 10px; 
    cursor: pointer;
    margin-top: 10px;  
    border-radius: 5px;
    border:solid 1px;
}